* {
    margin: 0;
    padding: 0;
    background-color: #080808;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*navbar*/
.logo img {
    height: 5rem;
}

nav ul {
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    list-style: none;
    line-height: 1.8rem;
}

#about p a,
nav ul li a {
    color: #ffff;
    text-decoration: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    /* Initial scale of 0 for underline effect */
    height: 3px;
    /* Height of the underline */
    bottom: 0;
    /* Align to bottom */
    left: 0;
    /* Align to left */
    background-color: rgb(255, 0, 55);
    /* Background color of the underline */
    transform-origin: bottom right;
    /* Set transform origin */
    transition: transform 0.25s ease-out;
    /* Transition effect for the underline */
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /* Scale the underline on hover */
    transform-origin: bottom left;
    /* Set transform origin */
}

#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

#navbar #container {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 3rem;
}

/*hero*/
#hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 11rem;
    margin-bottom: 2rem;
}

#bio p {
    font-size: x-large;
    font-weight: bold;
    margin-left: 6rem;
    line-height: 2.5rem;
}

span {
    font-size: xx-large;
    color: rgb(255, 0, 55);
}

#photos img {
    background-size: cover;
    object-fit: cover;
    height: 24vw;
    width: 24vw;
    background-color: #080808;
    border: 0.6vw solid #4d4d4d;
    border-radius: 50%;
    transition: border 100ms ease-out;
    transition: box-shadow 110ms ease-out;
}

#photos img:hover {
    border: 0.6vw solid rgb(255, 0, 55);
    box-shadow: 0 0 60px rgb(255, 0, 55);
}

.section {
    padding-top: 7rem;
    margin-bottom: 2rem;
}

/*about-me*/

.heading {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

#about p,
#work p {
    padding: 0px 12rem;
    text-align: left;
}

/*skills*/
h2 {
    color: rgb(255, 0, 55);
    text-decoration: underline;
    text-underline-offset: 4px;
}

#skills h2 {
    padding-left: 12rem;
}

#skills ul li {
    list-style: none;
    margin: 1rem 0rem 1rem 12rem;
}

/*work*/

/*contact*/

.container {
    display: flex;
    justify-content: center;
}

.box {
    width: 50vw;
}

.icon svg {
    color: white;
}

.contact {
    width: 50vw;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#contact_no {
    display: none;
}

#contact_icons {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#contact_icons a {
    margin-left: 1rem;
    margin-right: 1rem;
}

#form_box {
    display: flex;
    justify-content: center;
    align-items: start;
}

form {
    width: 19rem;
    display: flex;
    flex-wrap: wrap;
}

input {
    height: 2.6rem;
    width: 19rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid #4d4d4d;
}

.input:hover {
    border: 2px solid rgb(255, 0, 55);
    box-shadow: 0 0 20px rgb(255, 0, 55);
}

textarea {
    height: 7rem;
    width: 19rem;
    padding: 1rem;
    border: 2px solid #4d4d4d;
}

.input {
    margin-bottom: 1.3rem;
    border-radius: 8px;
}

button {
    height: 2rem;
    width: 5rem;
    margin-left: 14rem;
    background-color: rgb(255, 0, 55);
    border: 2px solid rgb(255, 0, 55);
}

#success_msg {
    display: flex;
    justify-content: center;
}

#msg {
    font-size: large;
    font-weight: normal;
    color: #ffff;
}

/*footer*/

footer {
    margin-top: 7rem;
    border-top: 1px solid #4d4d4d;
    padding-bottom: 1rem;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Responsiveness*/
@media(max-width: 1024px) {
    #photos img {
        animation: self_glow 4s linear infinite;
    }

    @keyframes self_glow {
        0% {
            border: 0.6vw solid #4d4d4d;
            box-shadow: 0 0 0 rgb(255, 0, 55);
        }

        50% {
            border: 0.6vw solid rgb(255, 0, 55);
            box-shadow: 0 0 60px rgb(255, 0, 55);
        }

        100% {
            border: 0.6vw solid #4d4d4d;
            box-shadow: 0 0 0 rgb(255, 0, 55);
        }
    }

    #about p,
    #work p {
        padding: 0px 8rem;
    }

    #skills h2 {
        padding-left: 8rem;
    }

    #skills ul li {
        margin: 1rem 0rem 1rem 8rem;
    }
}

@media(max-width: 720px) {

    #bio p {
        font-size: large;
        font-weight: bold;
    }

    span {
        font-size: x-large;
        color: rgb(255, 0, 55);
    }

    .container {
        display: grid;
    }

    form {
        padding-top: 2rem;
    }

    #msg {
        font-size: normal;
        font-weight: small;
    }
}

@media(max-width: 540px) {
    nav {
        display: none;
    }

    #navbar {
        display: flex;
        justify-content: center;
    }

    #navbar #container {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    #navbar #container {
        height: 3rem;
    }

    .logo img {
        height: 3rem;
    }

    #hero {
        display: grid;
    }

    .mobile_view {
        display: flex;
        justify-content: center;
    }

    #photos {
        padding-top: 4rem;
    }

    #photos img {
        height: 12rem;
        width: 12rem;
    }

    #bio {
        display: flex;
        justify-content: center;
        margin-top: -3rem;
        margin-left: -6rem;
    }

    #bio p {
        text-align: center;
        font-size: large;
        font-weight: bold;
    }

    span {
        font-size: x-large;
        color: rgb(255, 0, 55);
    }

    .section {
        font-size: normal;
        padding-top: 4rem;
        margin-bottom: 0rem;
    }

    .heading {
        margin-bottom: 2.6rem;
    }

    h1 {
        text-decoration: underline 1.5px;
        text-decoration-color: rgb(255, 0, 55);
        text-underline-offset: 5px;

    }

    #about p,
    #work p {
        padding: 0px 3rem;
    }

    #skills h2 {
        padding-left: 4rem;
    }

    #skills ul li {
        margin: 1rem 0rem 1rem 4rem;
    }

    #contact_icons {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    footer {
        font-size: small;
        margin-top: 2rem;
        padding-bottom: 0.5rem;
    }
}

@media(max-width: 430px) {
    #navbar {
        display: flex;
        justify-content: center;
    }

    #navbar #container {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    #about p,
    #work p {
        padding: 0px 2rem;
    }

    #skills h2 {
        padding-left: 2rem;
    }

    #skills ul li {
        margin: 1rem 0rem 1rem 2rem;
    }

    #msg {
        font-size: small;
        font-weight: smaller;
    }
}